/*
	glDatePicker style inspired by the calendar app in FireFly 3.0 rom

	http://code.gautamlad.com/glDatePicker/
	https://github.com/glad/glDatePicker/
	http://forum.xda-developers.com/showthread.php?t=914284
*/

/* Calendar container div */
.gldp-c42
{
	background-color:#AAA !important;
	font-size:0.9em !important;
	font-weight:bold !important;
	border:solid 0px #FFF;
	width:100%;
	height:100%;
	
}

/* Table style */
.gldp-c42 table
{
	border-spacing:0px;
	border-collapse:inherit;
	border-color:#F5F5F5;
	width:100%;
	height:100%;
}

/* Default row height */
.gldp-c42 tr
{
	line-height:28px;
}

/* Default style of cell */
.gldp-c42 td
{
	margin:0;
	padding:0;
	text-align:center;
	height:42px;
}

/* Previous and Next arrows */
.gldp-c42-prevnext
{
	background-color:#F5F5F5;
	color:#444;
	font-size:1.4em;
}

/* Month Year title */
.gldp-c42-monyear
{
	background-color:#F5F5F5;
	color:#444;
	font-size:1.4em;
	font-weight:normal !important;
}

/* Days of the week (Sun, Mon, ...) */
.gldp-c42-dow
{
	background-color:#424852;
	color:#ddd;
	font-size:0.8em;
}

/* Selectable days */
.gldp-c42-day
{
	background-color:#F5F5F5;
	color:#444;
	border:solid 1px #FFF;
}

/* Selected days */
.gldp-c42-selected
{
	background-color:#0B90C1;
	color:#444;
	border:solid 1px #008faf;
}

/* Today */
.gldp-c42-today
{
	background-color:#F5F5F5;
	color:#444;
	border:solid 2px #0B90C1;
}

/* Weekends */
.gldp-c42-sat
{
	background-color:#F5F5F5;
	color:#AAA;
	border:solid 1px #FFF;
}

.gldp-c42-sun
{
	background-color:#F5F5F5;
	color:#AAA;
	border:solid 1px #FFF;
}

/* Non-selectable day.  Includes: previous/next month days and days that fall in the allowOld and endDate conditions */
.gldp-c42-noday
{
	background-color:#AAA;
	border:solid 1px #DDD;
	color:#666;
	font-weight:normal;
}